@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Roboto',sans-serif;
    margin: 0;
    
}

.container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

header{
     background-image: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1283&q=80");
     background-size: cover;
     background-position: center center;
     color: white; 
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     min-height: calc(100vh - 100px);
}

.content{
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
}

.content h1{
    color: #00c2ff;
    margin-bottom: 0;
    
}

nav {
    display: flex;
    
    justify-content: space-between;
      
}

nav ul {
    display: flex;
    list-style-type: none ;
    padding: 0;
}

nav .logo {
    font-size: 2rem;
}

nav li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

.highlight{
     background-color:#00c2ff ;
     text-decoration: none;
     padding: 1rem;
     color: white;
     
}

.selected{
    font-weight: bold;
}

footer {
   background-color: black;
    color: white;
    
}

footer ul {
    list-style-type: none;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0;

}

footer strong {
    color: #00c2ff;
    
}

footer p {
    margin: 0;
}





