@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #cb021c; 
    transition: background 0.4s ease-in-out;
}

.menu {
    font-size: 3rem;
    color: #fff;
   
    position: fixed;
    top: 2rem;
    left: 2rem;
}

.phone {
    color: #fff;
    font-size: 3rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.shoe i {
    font-size: 3rem;
    margin-top: 1.5rem;
    
}

.shoe {
    text-align: center;
    color: #fff;
}

.shoe h1 {
     margin: 0;
}
.shoe h2 {
    margin: 0;
    color: black;
}

.carousel-container {
    width: 100vw;
    position: relative;
    height: 80vh;
    overflow: hidden;
    
    
    
    
}

.carousel {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
    
    
}

.slide {
    width: 100vw;
    text-align: center;
    margin-top: 3rem;
}

.black {
 color: #fff;
}

.slide .white {
     background-color: #ffff;
     color: #000;
}

.slide img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.slide h2 {
     
    font-size: 2rem;

}
.slide a {
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
   
}

.arrow {

    background-color: transparent;
    position: absolute;
    font-size: 4rem;
    border: none;
    top: 50%;
    color: #1f2421;
    opacity: 0.5;
    transform: translateY(-50%);
    cursor: pointer;

}

.left-arrow {
    left: 2rem;
}

.right-arrow {
     right: 2rem;
}

